[Unit]
Description=docker-registry
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/docker-registry
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
